.swiper-container-horizontal>.swiper-pagination-bullets {
  display: none;
}

@media screen and (max-width: 669px) {

  .foto-our-works .container:after {
    border: none;
  }

  .portfolio-section {
    padding-bottom: 20px;

  }

  .swiper-pagination {
    z-index: 1000;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom : -20px;
    display: block;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .services {
    display: block;
  }

  .services_border {
    height: auto;
  }

  .services_item {
    width: auto;
    margin-right: 0;
  }

  .services_examples {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

}