doctype html
html
    head
        meta(charset="UTF-8")
        title Index
        link(rel="stylesheet", media="all", type="text/css", href="../../app/bundle.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="/bitrix/templates/ceiling/images/favicon.ico")
        meta(name="keywords" content="Натяжные потолки, натяжные потолки Владивосток, твой стиль потолки, твой стиль владивосток")
        meta(name="description" content="Установка натяжных потолков даже самой большой площади займет всего лишь несколько часов. А бесплатный замер поможет определиться с ценой на установку натяжных потолков")
    body
        a(href='./html/main.html') Главная





